@font-face {
    font-family: 'ketchumregular';
    src: url('ketchum-webfont.woff2') format('woff2'),
         url('ketchum-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'ketchumregular';
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
}

.disabled {
    color: #757575;
}

img {
    width: 200px;
    height: 275px;
}

.card {
    position: relative;
    width: 200px;
    height: 275px;
    cursor: pointer;
}

.card-back,
.card-front {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-front {
    transform: rotateY(0) rotateZ(0);
}