@font-face {
    font-family: 'ketchumregular';
    src: url('ketchum-webfont.woff2') format('woff2'),
         url('ketchum-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'ketchumregular';
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
}

.disabled {
    color: #757575;
}